<!-- 
<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>
 -->

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<div id="full-width-background">
  <div class="row">
    <div class="small-1 med-1 large-1 columns">&nbsp;</div>
    <div id="card-container" class="small-10 med-8 large-8 columns">
      <h2 id="card-header"></h2>
      <div id="answer-canvas" class=" ">
      </div>
      <div id="answer-basket">
         
      </div>
      <input id="submit" type="submit"></input>
    </div>
    <div class="small-1 med-1 large-1 columns">&nbsp;</div>
  </div>
</div>


<script type="text/javascript">
 
 var attemptArray = [];
 var sampleFacts = <%=raw @sample_facts %>;
 var card_counter = 0;



$("#answer-canvas").on('click', ".answer-object",
  function(){
    var $this = $(this);
    $("#answer-basket").append(this);
    var delete_index = attemptArray.indexOf($this.text());
    attemptArray.splice(delete_index, 1);
  }
)


$("#answer-basket").on('click', ".answer-object",
  function(){
    var $this = $(this);
    $("#answer-canvas").append(this);
    attemptArray.push($this.text());
    console.log(check_answer(attemptArray));
    // var answer_correct = check_answer(attemptArray);
    if(check_answer(attemptArray) && card_counter < sampleFacts.length) {
      $("#answer-canvas > div").css({"border": "1px solid #669900", "background-color": "#89c43e", "color" : "white"});
      $.ajax({
        type: "POST",
        data: "",
        url: "",
        success: setTimeout(function(){
          loadNextCard();
          getCard();
          
          }, 2000)
      }); 
    }
  }
)

var loadNextCard = function() {
  $("#answer-basket").empty();
  $("#answer-canvas").empty();
  attemptArray = [];

};

var getCard = function() {
  aCardDefinition = shuffle(sampleFacts[card_counter].definition.slice(0));
  
  for(i = 0; i < aCardDefinition.length; i++){

    var $div = $('<div class="answer-object">'+aCardDefinition[i]+'</div>')
    var header = sampleFacts[card_counter].term;
    $("#answer-basket").append($div);
    $("#card-header").text(header);
  };
  card_counter = card_counter+ 1;
}

var check_answer = function(attemptArray) {
  var joined_array = attemptArray.join("");
  var answer = (sampleFacts[card_counter-1].definition);
  console.log("joined_array: "+joined_array);
  console.log("answer: "+answer.join(""));
  return joined_array == answer.join("");
 
}

function shuffle(array) {
    for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
    }
    return array;
}

getCard();
</script>



















