// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#card-header{
  font-size: 3em;
  text-align: center;
}

#answer-canvas{
  height: 200px;
  width: 400px;
  border: 1px solid gray;
}

#answer-canvas, #answer-string {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  color: blue;
}

#answer-canvas > div {
  float: left;
  margin: 5px;
}

#answer-string > div {
  float: left;
  margin: 5;
  padding: 5;
  width: 400px;
}

#answer-choices {
  height: 200px;
  width: 400px;
  border: 1px solid red;
  float: left;
}

.answer-choices {
  margin: 2px;
  padding: 2px;
}