


#header-holder{
  
}

#header-holder a{
  
}

@media (min-width: 700px) {
  #oauth-container{
    margin: 40px 0;
    width: 40%;
    display: inline-block;
    float: left;
  }


  #sign-up-container{
    width: 60%;
    display: inline-block;
    float: left;
    
  }

}

@media (max-width: 699px) {
  #oauth-container{
    margin: 40px 0;
    width: 90%;
    display: inline-block;
  }


  #sign-up-container{
    width: 90%;
    display: inline-block;
    
  }

}




h5{
  font-size: .80em;
  color: gray;
  font-weight: 400;
}

.oauth-link{
  padding: 15px;
  width: 80%;
  font-size: .80em;
  color: white;
  text-align: center;
  border-radius: 3px;

}

.oauth-link a{
  font-size: 1em;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
}

#fb-signin{
  background-color: #3f57a5;
}


#g-signin{
  background-color: #da4c37;
}


#tw-signin{
  background-color: #4fb7f1;  
}

