



#header-holder{
  
}

#header-holder a{
  
}


#oauth-container{
  margin: 40px 0;
}


h5{
  font-size: .80em;
  color: gray;
  font-weight: 400;
}

.oauth-link{
  padding: 15px;
  width: 200px;
  font-size: .80em;
  color: white;
  text-align: center;
  border-radius: 3px;

}

.oauth-link a{
  font-size: 1em;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
}

#fb-signin{
  background-color: #3f57a5;
}


#g-signin{
  background-color: #da4c37;
}


#tw-signin{
  background-color: #4fb7f1;  
}

