

/* This is the styling for the study demo on the welcome page. */

#broswer-box{
  padding: 10px 12px 12px 12px;
  background-color: gray;
  border-radius: 5px;
  border: 1px solid dimgray;
}

.browser-circle{
  width: 12px;
  height: 12px;
  margin-right: 3px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: darkgray;
  display: inline-block;
  border: 1px solid dimgray;
}

#demo-card-container {
  border: 1px solid lightgray;
  height: 400px;
  background-color: #f7f7f6;
}

#demo-full-width-background{
  background-color: #f7f7f6;
  height: 800px;
}

#demo-card-header{
  font-size: 1.2em;
  text-align: center;
  color: gray;
  margin: 20px 30px 0 30px;
  font-family: "Open Sans";
  font-weight: 300;
}

#demo-answer-canvas{
  padding: 10px;
  margin: 20px 30px 20px 30px;
  height: 70px;
  min-width: 200px;
  border: 1px solid gray;
  background-color: #ececec;
  border: 1px solid #cdcdcb;
  border-radius: 10px;
}


#demo-answer-canvas > div {
  float: left;
  margin: 2px;
  min-width: 20px;
  background-color: #fafafa;
  text-align: center;
  padding: 13px 18px 13px 18px;
  border: 1px solid #cdcdcb;
  border-radius: 5px;
  color: gray;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: .8em;
  box-shadow:inset 1px 1px 1px 1px rgba(255,255,255, 0.3);
}

#demo-answer-basket > div {
  display: inline-block;
  margin: 7px;
  min-width: 20px;
  background-color: #fafafa;
  text-align: center;
  padding: 13px 18px 13px 18px;
  border: 1px solid #cdcdcb;
  border-radius: 5px;
  color: gray;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: .9em;
}

#demo-answer-basket {
  text-align: center;
}

#demo-answer-basket-container {
  height: 200px;
  min-width: 200px;
  padding: 10px 20px  0 20px;
}


#demo-multiple-choice-basket {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  clear: both;
}

#demo-mc-container {
  margin: 0 auto;
  clear: both;
  text-align: left;
  width: 90%;
}


@media (min-width: 700px){
  #demo-mc-container > li {
        width: 45%;
  }
}
@media (max-width: 699px){
  #demo-mc-container > li {
        width: 90%;
  }
}

  #demo-mc-container > li {
    display: inline-block;
  /*  float:left;*/  
    list-style-type: none;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    background-color: #fafafa;
    text-align: center;
    padding: 15px 15px 15px 15px;
    border: 1px solid #cdcdcb;
    border-radius: 7px;
    color: gray;
    font-size: .9em;
    font-family: "Open Sans";
    font-weight: 300;
    box-shadow:inset 1px 1px 1px 1px rgba(255,255,255, 0.3);
}

input {
    border: 1px solid #cdcdcb;
    border-radius: 8px;
    min-width: 250px;
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 30px 0 10px 0;
}

#demo-card-container {
  text-align: center;

}