.top-bar{
  background-color: #30323b;

}

.top-bar-section li a:not(.button) {
  padding: 0 15px;
  line-height: 45px;
  background: #30323b;
  font-weight: 300;
}

#logo-text{
  font-size: 1.5em;
  font-family: 'Offside', sans-serif;
}
#sales-copy-container .fa{
  font-size: 1.2em;
  margin: 0 0 0 5px;
}

.name img{
  margin: 3px 2px 0 1px;
}

#headline{
  font-size: 2.1em;
  line-height: 1.1em;
  font-weight: 700;
  color: #454955;
  font-family: "Coustard", serif;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}



@media (min-width: 1025px){
  #sales-copy-container{
    padding: 30px 10px 0 0;
  }
  #sales-copy-container{
    margin-top: 50px;
  }
}
@media (max-width: 1024px){
  #sales-copy-container{
    padding: 20px 10px 0 0;
  }
}

.notice, .alert{
  background-color: #f7f7f6;
  margin: 0;
}

#demo-full-width-background{
  background-color: #d5772e;
  height: 1400px;
}


#sales-copy-container p{
  font-size: 1.1em;
  color: white;
  font-weight: 300;
  letter-spacing: .05em;
}



