<p>Hello <%= @resource.email %>!</p>

<p>You had to try just one more time to guess that password, didn't you?</p>

<p>As punishment, your account has been locked and your old password thrown into the shredder.</p>

<p>Don't worry though, you can click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @token) %></p>
